.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #292A3C;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #2B383F;
}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #17242D;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #292A3C;
}

.styled-table tbody {
    color: white;
}